In [4]:
heights = [178, 173, 166, 164, 176]

smallest = heights[0]
for item in heights:
    if item < smallest:
        smallest = item

print('리스트 원소들 :', heights)
print('이 중에서 가장 작은 값은:', smallest)

리스트 원소들 : [178, 173, 166, 164, 176]
이 중에서 가장 작은 값은: 164

In [6]:
heights = [178, 173, 166, 164, 176]

largest = heights[0]
for item in heights:
    if item > largest:
        largest = item

print('리스트 원소들 :', heights)
print('이 중에서 가장 작은 값은:', largest)

리스트 원소들 : [178, 173, 166, 164, 176]
이 중에서 가장 작은 값은: 178

In [7]:
heights = [178, 173, 166, 164, 176]
print('이 중에서 가장 작은 값은:',min(heights))
print('이 중에서 가장 큰 값은:', max(heights))

이 중에서 가장 작은 값은: 164
이 중에서 가장 큰 값은: 178

In [10]:
heights = [178, 173, 166, 164, 176]
heights.sort()

print('이 중에서 가장 작은 값은:',(heights[0]))
print('이 중에서 가장 큰 값은:',(heights[-1]))

이 중에서 가장 작은 값은: 164
이 중에서 가장 큰 값은: 178

In [14]:
[ x**2 for x in [1, 2, 3, 4, 5] ]

[1, 4, 9, 16, 25]

In [ ]:
s = []
for x in [1, 2, 3, 4, 5]:
    s.append(x**2)

In [15]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
[x * x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
st = 'Hello World'
[x.upper() for x in st]

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [18]:
a = ['welcome', 'to', 'the', 'python', 'world']
first_a = [s[0].upper() for s in a]
print(first_a)

['W', 'T', 'T', 'P', 'W']

In [19]:
[x for x in range(10) if x % 2 == 0]

[0, 2, 4, 6, 8]

In [20]:
[x**2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [21]:
s = ['Hello', '12345', 'World', '67890']
numbers = [x for x in s if x.isdigit()]
print(numbers)

['12345', '67890']

In [22]:
[int(x) for x in input ('정수를 여러 개 입력하세요 : ').split()]

[100]

In [23]:
[int(x) for x in input ('정수를 여러 개 입력하세요 : ').split() if x.isdigit()]

[100, 300, 400]

In [24]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4]]

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [25]:
[(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [27]:
t1 = (1, 2, 3, 4, 5)
print(t1[0])
print(t1[1:4])
t2 = t1 + t1
t2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [29]:
def calc_circle(r):
    area = 3.14 * r * r
    circum = 2* 3.14 * r
    return area, circum

radius = float(input('원의 반지름을 입력하시오: '))
(a, c) = calc_circle(radius)
print('원의 넓이는{0:7.2f}이고 원의 둘레는{1:6.2f}이다.'.format(a, c))

원의 넓이는 314.00이고 원의 둘레는 62.80이다.