In [1]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']
letters[0]

'A'

In [7]:
bts = ['V', 'RM', 'Jungkook', 'J-Hop', 'Suga', 'Jin', 'Jiming']
len(bts)

7

In [11]:
l = ['A', 'B', 'C', 'D', 'E', 'F']
a=l[2:5]
a

['C', 'D', 'E']

In [16]:
letters[:3]

['A', 'B', 'C']

In [17]:
letters[3:]

['D', 'E', 'F']

In [18]:
letters[::2]

['A', 'C', 'E']

In [19]:
letters[::-1]

['F', 'E', 'D', 'C', 'B', 'A']

In [33]:
slist = ['Kim', 178.9, 'Park', 173.5, 'Lee', 176.1]
slist[3] = 175.0
slist

['Kim', 178.9, 'Park', 175.0, 'Lee', 176.1]

In [34]:
slist[2:4] = ['Paik', 180.0]
slist

['Kim', 178.9, 'Paik', 180.0, 'Lee', 176.1]

In [35]:
slist.insert(4, 'Hong')
slist.insert(5, 168.1)
slist

['Kim', 178.9, 'Paik', 180.0, 'Hong', 168.1, 'Lee', 176.1]

In [49]:
# LAB 7-3 도시의 인구
population = ['Seoul', 9765, 'Busan', 3441, 'Incheon', 2954]
p = print
p('서울 인구: ', population[1])
p('인천 인구: ', population[-1])
p('도시 리스트: ', population[::2])
p('인구의 합: ', sum(population[1::2]))

서울 인구:  9765
인천 인구:  2954
도시 리스트:  ['Seoul', 'Busan', 'Incheon']
인구의 합:  16160

In [50]:
bts = ['V', 'J-Hop', 'Suga', 'Jungkook']
bts.remove('Jungkook')
bts

['V', 'J-Hop', 'Suga']

In [51]:
l = ['A', 'B', 'C', 'D', 'E', 'F']
if 'B' in l:
    l.remove('B')
l

['A', 'C', 'D', 'E', 'F']

In [54]:
bts = ['V', 'J-Hop', 'Suga', 'Jungkook']
last_member = bts.pop()
p(last_member)
p(bts)

Jungkook
['V', 'J-Hop', 'Suga']

In [55]:
bts = ['V', 'J-Hop', 'Suga', 'Jungkook']
del bts[0]
bts

['J-Hop', 'Suga', 'Jungkook']

In [56]:
bts = ['V', 'J-Hop', 'Suga', 'Jungkook']
bts.index('Suga')

2

In [57]:
bts = ['V', 'J-Hop', 'Suga', 'Jungkook']
for member in bts:
    p(member)

V
J-Hop
Suga
Jungkook

In [60]:
numbers = [9, 6, 7, 1, 8, 4, 5, 3, 2]
numbers.sort()
p(numbers)
numbers.sort(reverse=True)
p(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [61]:
bts = ['V', 'J-Hop', 'Suga', 'Jungkook']
bts.sort()
p(bts)

['J-Hop', 'Jungkook', 'Suga', 'V']

In [62]:
l=['D', 'C', 'a', 'A']
l.sort()
l

['A', 'C', 'D', 'a']

In [65]:
numbers = [9, 6, 7, 1, 8, 4, 5, 3, 2]
new_list = sorted(numbers)
p(new_list)
p(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 6, 7, 1, 8, 4, 5, 3, 2]

In [69]:
s = 'python'
p('s[0] =', s[0])
p('s[1] =', s[1])
p('s[-1] =', s[-1])
p('s[0:2] =', s[0:2])
p('s[-2:] =', s[-2:])
p('s[-1:-3:-1] =', s[-1:-3:-1])

s[0] = p
s[1] = y
s[-1] = n
s[0:2] = py
s[-2:] = on
s[-1:-3:-1] = no

In [71]:
s = '23,35,67,88,1'
num_list = s.split(',')
p(num_list)

['23', '35', '67', '88', '1']

In [86]:
# LAB 7-4
import random
p = print

quotes = []
quotes.append('꿈을 지녀라. 그러면 어려운 현실을 이길 수 있다.')
quotes.append('언제나 현재에 집중할 수 있다면 행복할 것이다.')
quotes.append('고생없이 얻을 수 있는 진실로 귀중한 것은 하나도 없다.')
quotes.append('사람은 사랑할 때 누구나 시인이 된다.')
quotes.append('시작이 반이다.')

p("##################################\n#           오늘의 명언          #\n##################################\n\n")
p(random.choice(quotes))

##################################
#           오늘의 명언          #
##################################


고생없이 얻을 수 있는 진실로 귀중한 것은 하나도 없다.